html
    script(src="userList.js") 
    head
        title User Directory
if (session.loggedin)
    header 
        a(href="/")= `Home Page`
        br
        a(href="/users")= `User directory`
        br
        a(href=`/users/${session._id}`)= `User Profile`
        br
        a(href="/orders")= `Order Form`
        br
        a(href="/logout")= "Logout"
else
    header 
        a(href="/")= `Home Page`
        br
        a(href="/users")= `User directory`
        br
        a(href="/login")= "Login"
        br
body(onload="init()")
    p User List:
        p Search:
            input#searchCondition(type="textbox")
            button#searchButton(type="button" onclick="search()") Search for Users
    div#results
        ul
            for user in users
                a(href=`/users/${user._id}`)= `${user.username}: ${user._id}`
                br
                br